{% extends 'base.html' %}

{% block title %} Developer Home {% endblock title %}


{% block content %}
    <p style="text-align: center; font-size: larger;">Welcome {{user.role}}</p>
    
    <br>

    <div id="file_bug_button">
        <button onclick="fileBug()">File New Bug</button>
        <script>
            function fileBug() {
            window.location.href = "{% url 'fileBug' %}";
            }
        </script>
    </div>
    
    <br>

    <div id="all_projects">
        <h4 style="text-align: center;"><u>All Current Projects</u></h4>
        
        <p style="text-align: center;">
            Total number of Projects: <strong>{{projects|length }}</strong>
        </p>
        <p style="text-align: center;"><i>(Click on the project to see all its bugs)</i></p>
        
        <table id="project_table" border="1" style="margin: 10px auto; text-align: center;">
            <thead>
                <tr>
                    <th>S. No.</th>
                    <th>Project Name</th>
                    <th>Date Added</th>
                    <th>Bug Count</th>
                </tr>
            </thead>
            <tbody>   
                    {% if projects %}
                        {% for project in projects %}  
                                <tr>
                                    <td> {{forloop.counter}} </td>
                                    <td class="wrapped-cell"> <a href="{% url 'developer_projectBugs' project_id=project.id %}">{{project.project_name}}</a></td>
                                    <td> {{project.date_added.date}} </td>
                                    <td> {{project.bug_count}} </td>
                                </tr>                   
                        {% endfor %}     
                    {% else %}
                        <tr>
                            <td colspan="4" style="height:30px;">No projects</td>
                        </tr>
                    {% endif %} 
            </tbody>
        </table>
    </div>

    <br>
    <br >
    
    <div id="assigned_bugs">
        <h4 style="text-align: center;"><u>Bugs Assigned To You</u></h4>
        <p style="text-align: center;">
            Total number of bugs assigned to you: <strong>{{bugs_assigned|length }}</strong>
            <br> Unresolved bugs left: <strong>{{bugs_assigned_open|length }}</strong>
        </p>

        <table id="project_table" border="1" style="margin: 10px auto; text-align: center;">
            <thead>
                <tr>
                    <th>S. No.</th>
                    <th>Project Name</th>
                    <th>Bug</th>
                    <th>Impact</th>
                    <th>Date Assigned</th>
                    <th>Status</th>
                    <th>Resolve</th>
                </tr>
            </thead>
            <tbody> 
                {% if bugs_assigned %}
                    {% for bug in bugs_assigned %}  
                    <tr>
                        <td> {{forloop.counter}} </td>
                        <td class="wrapped-cell"> {{bug.project}} </td>
                        <td class="wrapped-cell"> {{bug.bug_title}} </td>
                        <td> 
                        {% if bug.impact == 'Severe'%}
                            <span style="color:red;">{{bug.impact}}</span>
                        {% else %}
                            <span style="color:blue;">{{bug.impact}}</span>
                        {% endif %}
                        </td>
                        <td> {{bug.date_assigned|date}} </td>
                        <td> {{bug.status}} </td>
                        <td> 
                            {% if bug.status == 'Open' %}    
                                <a href="{% url 'resolveBug' bug_id=bug.id %}">Change Status</a> 
                            {% endif %}    
                        </td>
                    </tr>                   
                    {% endfor %} 
                {% else %}
                    <tr>
                        <td colspan="7" style="height:30px;">No bugs assigned</td>
                    </tr>  
                {% endif %}
            </tbody>
        </table>    
    </div>    


    <br>
    <br>

    <div id="bugs_submitted">
        <h4 style="text-align: center;"><u>Bugs Submitted By You</u></h4>
        
        <p style="text-align: center;">
            Total number of bugs submitted by you: <strong>{{bugs_submitted|length}}</strong>
            <br> Unresolved bugs left: <strong>{{bugs_submitted_open|length }}</strong>
        </p>
    
        <table id="project_table" border="1" style="margin: 10px auto; text-align: center;">
            <thead>
                <tr>
                    <th>S. No.</th>
                    <th>Project Name</th>
                    <th>Bug</th>
                    <th>Impact</th>
                    <th>Date Submitted</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>   
                    {% if bugs_submitted %}
                        {% for bug in bugs_submitted %}  
                            <tr>
                                <td> {{forloop.counter}} </td>
                                <td class="wrapped-cell"> {{bug.project}} </td>
                                <td class="wrapped-cell"> {{bug.bug_title}} </td>
                                <td>
                                {% if bug.impact == 'Severe'%}
                                    <span style="color:red;">{{bug.impact}}</span>
                                {% else %}
                                    <span style="color:blue;">{{bug.impact}}</span>
                                {% endif %} 
                                </td>
                                <td> {{bug.date_submitted|date}} </td>
                                <td> {{bug.status}} </td>
                    
                            </tr>                   
                        {% endfor %}  
                    {% else %}
                        <tr>
                            <td colspan="6" style="height:30px;">No bug submitted</td>
                        </tr>
                    {% endif %}    
            </tbody>
        </table>
    </div>

    <br><br><br><br><br><br><br>

{% endblock content %}


