{% extends 'base.html' %}

{% block title %} Project Bugs {% endblock title %}

{%block content%}

    <h4 style="text-align: center;">All Bugs in <u>{{project_name}}</u> Project</h4>
    
    <p style="text-align: center;">Total number of bugs: <strong>{{bugs_of_a_project|length }}</strong></p>

        
    <div>
        <table id="project_table" border="1" style="margin: 10px auto; text-align: center;">
            <thead>
                <tr>
                    <th >S. No.</th>
                    <th>Bug</th>
                    <th>Impact</th>
                    <th>Status</th>
                    <th>Submitted By</th>
                    <th>Date Submitted</th>
                    <th>Assigned To</th>
                    <th>Date Assigned</th>   
                </tr>
            </thead>
            <tbody> 
                {% if bugs_of_a_project %}
                    {% for bug in bugs_of_a_project %}  
                    <tr>
                        <td> {{forloop.counter}} </td>
                        <td class="wrapped-cell"> {{bug.bug_title}} </td>
                        
                        <td> 
                            {% if bug.impact == 'Severe'%}
                                <span style="color:red;">{{bug.impact}}</span>
                            {% else %}
                                <span style="color:blue;">{{bug.impact}}</span>
                            {% endif %}
                            </td>
                        
                        <td> {{bug.status}} </td>
                        
                        <td> 
                            {% if bug.submitted_by == user %}
                            <span style="color:green;"><b>You</b></span>
                            {% else %}
                            {{bug.submitted_by}}
                            {% endif %}     
                        </td>
                        
                        <td> {{bug.date_submitted|date}} </td>
                        
                        <td>
                            {% if bug.assign_to == user %}
                            <span style="color:green;"><b>You</b></span>
                            {% else %}
                            {{bug.assign_to}}
                            {% endif %}   
                        </td>
                        
                        <td> {{bug.date_assigned|date}} </td>
                    </tr>                   
                    {% endfor %}
                {% else %}
                <tr>
                    <td colspan="8" style="height: 30px;">No bugs</td>
                </tr>
                {% endif %}      
            </tbody>
        </table>

        <br>
        
        <button onclick="goBack()">Go Back</button>  

        <script>
            function goBack() {
            window.location.href = "{% url 'developerHome' %}";
            }
        </script>

    </div>

{% endblock %}