{% extends 'base.html' %}

{% block title %} File Bug {% endblock title %}

{% block content %}
<br>
<h3 style="text-align: center;"> File Bug </h3>

<div style="text-align: center;">
    <form method="post" style="display: inline;">
        {% csrf_token %}

        <div>
            {% for field in form %}
                {% for error in field.errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            {% endfor %}
        </div>

        {{ form.as_p }}
        <br>
        <button type="submit">File Bug</button>
    </form>   
    <span style="margin-left: 50px;"></span> <!-- Add space between buttons -->
    <button onclick="goBack()" style="display: inline;">Go Back</button>  <!-- Display both buttons in same line -->
</div>

<script>
    function goBack() {
    window.location.href = "{% url 'developerHome' %}";
    }
</script>
 
{% endblock content %}