{% extends 'base.html' %}

{% block title %} File Bug {% endblock title %}

{% block content %}
<br>
<h3 style="text-align: center;"> File Bug Here </h3>

{% if message %}
    <p style="color:blue;">{{message}}</p>
{% endif %}

<div style="text-align: center;">
    <form method="post" style="display: inline;">
        {% csrf_token %}

        <div>
            {% for error in form.non_field_errors %}   
            <p style="color: red;">{{ error }}</p>
            {% endfor %}
        </div>

        {{ form.as_p }}
        <br>
        <button type="submit">File Bug</button>
    </form>   
    <span style="margin-left: 50px;"></span> <!-- Add space between buttons -->
    <button onclick="goBack()" style="display: inline;">Go Back</button>  <!-- Display both buttons in same -->
</div>

<script>
    function goBack() {
    window.location.href = "{% url 'developerHome' %}";
    }
</script>

    
{% endblock content %}