{% extends 'base.html' %}

{% block title %} Manager Home {% endblock title %}

{% block content %}
    <p style="text-align: center; font-size: larger;">Welcome {{user.role}}</p>

    <br>

    <div id="all_projects">
        <h3 style="text-align: center;">All Current Projects</h3>
        <p style="text-align: center;"><i>(Click on the project to see all its bugs)</i></p>
    
        <table id="project_table" border="1" style="margin: 10px auto; text-align: center;">
            <thead>
                <tr>
                    <th>S. No.</th>
                    <th>Project Name</th>
                    <th>Date Added</th>
                    <th>Bug Count</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>   
                {% if projects %}
                    {% for project in projects %}  
                            <tr>
                                <td> {{forloop.counter}} </td>
                                <td class="wrapped-cell"> <a href="{% url 'manager_projectBugs' project_id=project.id %}">{{project.project_name}}</a> </td>
                                <td> {{project.date_added.date}} </td>
                                <td> {{project.bug_count}} </td>
                                <td> <button class="delete-project-btn" data-project-id="{{ project.id }}">Delete</button> </td>
                            </tr>                   
                    {% endfor %} 
                {% else %}
                    <tr>
                        <td colspan="5" style="height: 30px;">No projects</td>
                    </tr>
                {% endif %}     
            </tbody>
        </table>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script>
            $(document).ready(function() {
                $('.delete-project-btn').on('click', function() {
                    var projectId = $(this).data('project-id');

                    // Get the parent row of the delete button
                    var rowToRemove = $(this).closest('tr'); 
                    
                    // Check if bug_count is zero
                    var bugCount = parseInt(rowToRemove.find('td:eq(3)').text().trim()); // Get the bug count from the fourth column
                    if (bugCount === 0) {
                        $.ajax({
                            url: '/deleteProject/' + projectId + '/',
                            type: 'GET',
                            success: function(response) {
                                if (response.success) {
                                    
                                    // Remove the row from the table
                                    rowToRemove.remove(); 
                                    console.log('Row deleted successfully');
                                } else {
                                    console.error('Failed to delete row:', response);
                                }
                            },
                            error: function(xhr, textStatus, errorThrown) {
                                console.error('Error deleting row:', errorThrown);
                            }
                        });
                    } else {// When bug_count is not zero
                    alert('You cannot delete a project unless all its bugs have been resolved.');
                }
                });
            });
        </script>

        <p class="boxed-paragraph" style="text-align: center;"><b>Upload New Project <a href="{% url 'uploadProject' %}">Here</a></b></p>
    </div>
       
    <br>
    <br>
    <br>

    <div id="all_filed_bugs">
        <h3 style="text-align: center;">All Filed Bugs</h3>
        <table id="bug_table" border="1" style="margin: 10px auto; text-align: center;">
            <thead>
                <tr>
                    <th>S. No.</th>
                    <th>Project Name</th>
                    <th>Bug Title</th>
                    <th>Impact</th>
                    <th>Submitted By</th>
                    <th>Date Submitted</th>
                    <th>Status</th>
                    <th>Delete</th>
                </tr>
            </thead>
            
            <tbody>   
                {% if bugs %}
                    {% for bug in bugs %}  
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td class="wrapped-cell">{{bug.project.project_name}}</td>
                            <td class="wrapped-cell">{{bug.bug_title}}</td>
                            <td>
                            {% if bug.impact == 'Severe'%}
                                <span style="color:red;">{{bug.impact}}</span>
                            {% else %}
                                <span style="color:blue;">{{bug.impact}}</span>
                            {% endif %}
                            </td>
                            <td>{{bug.submitted_by.username}}</td>
                            <td>{{bug.date_submitted|date}}</td> <!--Applying date filter using | to submitted_date-->
                            <td>{{bug.status}}</td>
                            <td><button class="delete-bug-btn" data-bug-id="{{ bug.id }}">Delete</button></td>
                        </tr>                   
                    {% endfor %}  
                {% else %}
                    <tr>
                        <td colspan="8" style="height: 30px;">No bugs</td>
                    </tr>
                {% endif %}            
            </tbody>
        </table>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>  <!-- Include this jQuery library -->
        <script>
            // AJAX request to delete bug. 
            $(document).ready(function() {  //Execute code when the document is fully loaded and ready to be manipulated.
                $('.delete-bug-btn').on('click', function() {
                    var bugId = $(this).data('bug-id');
                    console.log('Bug ID:', bugId); 
                    
                    // Get the parent row of the delete button
                    var rowToRemove = $(this).closest('tr'); 

                    // Get the bug count from the fourth column
                    var bugStatus = rowToRemove.find('td:eq(6)').text().trim(); 

                    if (bugStatus === 'Closed') {
                        
                        // Perform an asynchronous HTTP (Ajax) request i.e. send and receive data from a server without refreshing the entire webpage.
                        $.ajax({   
                            
                            // url to which AJAX request is sent
                            url: '/deleteBug/' + bugId + '/',  
                            type: 'GET',  
                            
                            // Action depending on the response. Respective function gets executed (success or error). 
                            success: function(response) {    
                                
                                //Check if success property of response object is True.
                                if (response.success) {  
                                    
                                    // Remove the row from the HTML table
                                    rowToRemove.remove(); 
                                    console.log('Row deleted successfully');
                                } else {
                                    console.error('Failed to delete bug:', response);
                                }
                            },
                            error: function(xhr, textStatus, errorThrown) {     
                                console.error('Error deleting bug:', errorThrown);
                            }
                        });
                } else {    // when bugStaus is 'Open'
                    alert('You cannot delete a bug which is yet to be resolved');
                }
                });
            });
            </script>

        <p class="boxed-paragraph"  style="text-align: center;"><b>Assign Bugs to developers <a href="{% url 'assignBug' %}">Here</a></b></p>
    </div>

    <br>
    <br>
    <br>

    <div id="all_assigned_bugs">
        <h3 style="text-align: center;">All Assigned Bugs</h3>
        <table id="bug_table" border="1" style="margin: 10px auto; text-align: center;">
            <thead>
                <tr>
                    <th>S. No.</th>
                    <th>Project Name</th>
                    <th>Bug Title</th>
                    <th>Impact</th>
                    <th>Assigned To</th>
                    <th>Date Assigned</th>
                    <th>Status</th>
                </tr>
            </thead>
            
            <tbody>   
                {% if bugs_assigned %}
                    {% for bug in bugs_assigned %}  
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td class="wrapped-cell">{{bug.project.project_name}}</td>
                            <td class="wrapped-cell">{{bug.bug_title}}</td>
                            <td>
                            {% if bug.impact == 'Severe'%}
                                <span style="color:red;">{{bug.impact}}</span>
                            {% else %}
                                <span style="color:blue;">{{bug.impact}}</span>
                            {% endif %}
                            </td>
                            <td>{{bug.assign_to.username}}</td>
                            <td>{{bug.date_assigned|date}}</td> <!--Applying date filter using | to submitted_date-->
                            <td>{{bug.status}}</td>
                        </tr>                   
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="7" style="height: 30px;">No bugs</td>
                    </tr>
                {% endif %}              
            </tbody>
        </table>  
    </div>

    <br><br><br><br><br><br><br>

{% endblock content %}