{% extends 'base.html' %}

{% block title %} Manager Home {% endblock title %}

{% block content %}
    <br>
    <h3 style="text-align: center;">All Current Projects</h3>
    <p style="text-align: center;"><i>(Click on the project to see all its bugs)</i></p>
 
    <table id="project_table" border="1" style="margin: 10px auto; text-align: center;">
        <thead>
            <tr>
                <th style="padding: 5px;">S.No.</th>
                <th style="padding: 5px;">Project Name</th>
                <th style="padding: 5px;">Date Added</th>
                <th style="padding: 5px;">Bug Count</th>
                <th style="padding: 5px;">Delete</th>
            </tr>
        </thead>
        <tbody>  
                <!--{{ formset.management_form }}-->   
                {% for project in projects %}  
                        <tr>
                            <td style="padding: 5px;"> {{forloop.counter}} </td>
                            <td style="padding: 5px;"> {{project.project_name}} </td>
                            <td style="padding: 5px;"> {{project.date_added.date}} </td>
                            <td style="padding: 5px;"> {{project.bug_count}} </td>
                            <td style="padding: 5px;"> <button class="delete-btn" data-project-id="{{ project.id }}">Delete</button> </td>
                        </tr>                   
                {% endfor %}      
        </tbody>
    </table>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
    $(document).ready(function() {
        $('.delete-btn').on('click', function() {
            var projectId = $(this).data('project-id');
            var rowToRemove = $(this).closest('tr'); // Get the parent row of the delete button
            $.ajax({
                url: '/delete/' + projectId + '/',
                type: 'GET',
                success: function(response) {
                    if (response.success) {
                        rowToRemove.remove(); // Remove the row from the table
                        console.log('Row deleted successfully');
                    } else {
                        console.error('Failed to delete row:', response);
                    }
                },
                error: function(xhr, textStatus, errorThrown) {
                    console.error('Error deleting row:', errorThrown);
                }
            });
        });
    });

    </script>

    
    <p style="text-align: center;">Upload New Project <a href="{% url 'uploadProject' %}">Here</a>.</p>
    <br>
    <br>
    <h3 style="text-align: center;">All Filed Bugs</h3>
    <table id="bug_table" border="1" style="margin: 10px auto; text-align: center;">
        
        <thead>
            <tr>
                <th style="padding: 5px;">S.No.</th>
                <th style="padding: 5px;">Project Name</th>
                <th style="padding: 5px;">Bug Title</th>
                <th style="padding: 5px;">Impact</th>
                <th style="padding: 5px;">Submitted By</th>
                <th style="padding: 5px;">Date Assigned</th>
                <th style="padding: 5px;">Status</th>
                <th style="padding: 5px;">Delete</th>
            </tr>
        </thead>
        
        <!--
        <tbody>  
                {{ formset.management_form }} 
                {% for course, form in zipped_courses_formset %}  
                        <tr>
                            <td style="padding: 5px;">{{forloop.counter}}</td>
                            <td style="padding: 5px;">{{course.code_id}} - {{course.code.name}} </td>
                            <td style="padding: 5px;">{{course.start_date.date}}</td>
                            <td style="padding: 5px;">{{course.end_date}}</td>
                            <td style="padding: 5px;">{{course.end_date}}</td>
                            <td style="padding: 5px;">{{course.end_date}}</td>
                            <td style="padding: 5px;">{{course.end_date}}</td>
                            <td style="padding: 5px;">{{course.end_date}}</td>
                        </tr>                   
                {% endfor %}      
                
        </tbody>
        -->
    </table>

    <p style="text-align: center;">Click <a href="">Here</a> to Assign Bugs to Developers.</p>

{% endblock content %}